<footer *ngIf="!hideFooter">
  <div class="container">
    <img class="footer-logo" src="../../../assets/Pics/footer-logo.svg" alt="">
    <div class="links">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <p>Media designed by <a class="media" href="https://www.freepik.com/" target="_blank" rel="noopener noreferrer">Freepik</a></p>
    <p>All rights reserved &copy; {{ dateYear }}</p>
    <div class="developers">
      <p>Developed by:</p>
      <span>Ahmed Hatem</span>
      <span>Yousef Mohamed</span>
    </div>
  </div>
</footer>
