<h2>Payment History</h2>
<hr>
<div class="wrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">NO. of products</th>
        <th scope="col">Total cost</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let row of payments; let i = index">
        <th scope="row">{{ length - i }}</th>
        <td>{{ row.count }}</td>
        <td>{{ row.cost | currency }}</td>
        <td>{{ row.date }}</td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>1</td>
        <td>{{ '90' | currency }}</td>
        <td>Mar 30, 2024</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>5</td>
        <td>{{ '730' | currency }}</td>
        <td>Apil 12, 2024</td>
      </tr> -->
    </tbody>
  </table>
</div>
