<h2>General</h2>
<hr>
<div class="wrapper">
  <div class="img">
    <img src="../../../assets/Pics/profile.png" alt="">
  </div>
  <div class="info">
    <div class="name-sec">
      <h6>Name :</h6>
      <p>{{ userData?.fName }} {{ userData?.lName }}</p>
    </div>
    <div class="username-sec">
      <h6>Username :</h6>
      <p>{{ userData?.userName }}</p>
    </div>
    <!-- <div class="email-sec">
      <h6>Email address :</h6>
      <p>yousefmoo660&#64;gmail.com</p>
    </div> -->
    <div class="phone-sec">
      <h6>Phone number :</h6>
      <p>{{ userData?.phoneNumber }}</p>
    </div>
  </div>
</div>
