<div class="wrapper">
  <div class="log">
    <div class="first">
      <h3>Sign Up</h3>
      <form action="">
        <div class="names">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">First name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Last name</label>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="">
          <label for="floatingInput">Phone number</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="">
          <label for="floatingPassword">Password again</label>
        </div>
        <button type="button" class="sign btn btn-primary">Create new account</button>
      </form>
    </div>
    <div class="second">
      <h2>Welcome to register</h2>
      <div class="signin-section">
        <p>You already have an account?</p>
        <button type="button" routerLink="/login">Sign In</button>
      </div>
    </div>
  </div>

</div>
