<h2>Change Password</h2>
<hr>
<form action="">
  <div class="form-floating mb-3 mt-5">
    <input type="password" class="form-control" id="floatingPassword" placeholder="">
    <label for="floatingPassword">Old password</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="">
    <label for="floatingPassword">New password</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="">
    <label for="floatingPassword">New password again</label>
  </div>
  <button type="button" class="save btn btn-primary mt-3">Change</button>
</form>
